@font-face {
	font-family: "Helvetica Neue Heavy Condensed";
	src: url("/fonts/HelveticaNeue-HeavyCond.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: "Helvetica Neue Heavy Condensed", "Arial", sans-serif;
}

.flip-card.flipped .flip-card-inner,
.flip-card.animate .flip-card-inner {
	transform: rotateX(180deg);
}
